typer
click
constants
docx
docx2txt
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
hydralit_components
matplotlib-venn
nltk
openpyxl
pandas
pandas-visual-analysis
pdfplumber
pdf2docx
pickle4
Pillow
PyPDF2
spacy
streamlit
streamlit_tags
